In [5]:
num = 33
type(num)

int

In [6]:
name = "Manuel"
type(name)

str

In [7]:
pi = 3.14
type(pi)

float

In [9]:
alist = ["Manuel", 17, 'P']


print(type(alist))
print(type(alist[0]))
print(type(alist[2]))

<class 'list'>
<class 'str'>
<class 'str'>

In [11]:
atuple = ('P', alist, 33)
type(atuple)

tuple

In [12]:
print(type(atuple[0]))
print(type(atuple[1]))
print(type(atuple[1][1]))

<class 'str'>
<class 'list'>
<class 'int'>

In [13]:
is_male = True
type(is_male)

bool