In [5]:
num = 33
type(num)

int

In [6]:
name = "Manuel"
type(name)

str

In [7]:
pi = 3.14
type(pi)

float

In [9]:
alist = ["Manuel", 17, 'P']


print(type(alist))
print(type(alist[0]))
print(type(alist[2]))

<class 'list'>
<class 'str'>
<class 'str'>

In [11]:
atuple = ('P', alist, 33)
type(atuple)

tuple

In [12]:
print(type(atuple[0]))
print(type(atuple[1]))
print(type(atuple[1][1]))

<class 'str'>
<class 'list'>
<class 'int'>

In [13]:
is_male = True
type(is_male)

bool

# Exercise
 > * Reverse the order of the elements of a list 
 > * Add the elements of one list to the end of another list
 > * Sort a list of strings in alphabetical order
 > * Sort a list of numbers in decreasing order

In [1]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reversed_list = my_list[::-1]
reversed_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
other_list = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

for num in my_list:
    other_list.append(num)

other_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
strings = ["apple", "banana", "cherry", "date", "elderberry"]
sorted_string_lists = []
for string in strings:
    sorted_string_lists.append(''.join(sorted(string)))
    
sorted_string_lists

['aelpp', 'aaabnn', 'cehrry', 'adet', 'bdeeelrrry']

In [28]:
nums = [99, 25, 56, 123, 10, 150, 88, 42, 200, 73]
nums.sort()
nums

[10, 25, 42, 56, 73, 88, 99, 123, 150, 200]

In [52]:
def house(cost, interest, dp, months):
    price_left = cost - dp
    return ((price_left * interest) * (1 + interest) ** months) / (((1 + interest) ** months) - 1)

house_price = 1_260_000
# Option 1 
print("O1: " + str(house(house_price, .1/12, 300000, 8*12)))

# Option 2
print("O2: " + str(house(house_price, .08/12, 0, 10*12)))

O1: 96010.20045633835
O2: 100809.8322346265