In [2]:
from urllib.request import urlretrieve
urlretrieve('https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv', './data/italy-covid.txt')

('./data/italy-covid.txt', <http.client.HTTPMessage at 0x1fdb4c0c410>)

In [3]:
import os
os.listdir('./data')

['italy-covid.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt', 'total_emis.txt']

In [4]:
import pandas as pd
covid_df = pd.read_csv('./data/italy-covid.txt')

In [5]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [6]:
type(covid_df)

pandas.core.frame.DataFrame

In [7]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [8]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [9]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [10]:
# get the headers
headers = covid_df.columns

In [11]:
# Pandas format is simliar to this
covid_data_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03'],
    'new_cases':  [1444, 1365, 996, 975, 1326],
    'new_deaths': [1, 4, 6, 8, 6],
    'new_tests': [53541, 42583, 54395, None, None]
}

In [12]:
# Pandas format is not similar to this
covid_data_list = [
    {'date': '2020-08-30', 'new_cases': 1444, 'new_deaths': 1, 'new_tests': 53541},
    {'date': '2020-08-31', 'new_cases': 1365, 'new_deaths': 4, 'new_tests': 42583},
    {'date': '2020-09-01', 'new_cases': 996, 'new_deaths': 6, 'new_tests': 54395},
    {'date': '2020-09-02', 'new_cases': 975, 'new_deaths': 8 },
    {'date': '2020-09-03', 'new_cases': 1326, 'new_deaths': 6},
]

In [13]:
covid_data_dict['new_cases']

[1444, 1365, 996, 975, 1326]

In [36]:
covid_df[['new_cases', 'new_deaths']][240:]

     new_cases  new_deaths
240     1366.0        13.0
241     1409.0         5.0
242     1460.0         9.0
243     1444.0         1.0
244     1365.0         4.0
245      996.0         6.0
246      975.0         8.0
247     1326.0         6.0

In [23]:
# to pick a specific value from a row and column, use .at
covid_df.at[247, 'new_cases']

1326.0

In [24]:
covid_data_dict['new_cases'][3]

975

In [25]:
subset_df = covid_df[['date', 'new_cases']]
subset_df

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [26]:
# Getting the  data at a specific row
covid_df.loc[243]

date          2020-08-30
new_cases         1444.0
new_deaths           1.0
new_tests        53541.0
Name: 243, dtype: object

In [27]:
covid_df.new_tests.first_valid_index()

111

In [28]:
# Verifiying the index number
covid_df[110:]

           date  new_cases  new_deaths  new_tests
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[138 rows x 4 columns]

In [29]:
df = covid_df[111:].copy()
df

           date  new_cases  new_deaths  new_tests
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[137 rows x 4 columns]

In [39]:
covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
117  2020-04-26     2357.0       415.0    24113.0
94   2020-04-03     4668.0       760.0        NaN
186  2020-07-04      223.0        15.0    28946.0
152  2020-05-31      416.0       111.0    28948.0
63   2020-03-03      347.0        17.0        NaN
13   2020-01-13        0.0         0.0        NaN
115  2020-04-24     2646.0       464.0    95273.0
104  2020-04-13     4092.0       431.0        NaN
223  2020-08-10      463.0         2.0    10904.0
67   2020-03-07      778.0        49.0        NaN

In [55]:
total_cases = covid_df['new_cases'].sum()
total_deaths = covid_df['new_deaths'].sum()

In [56]:
print(f"The number of reported cases is {total_cases}, and the number of reported deaths is {total_deaths}")

The number of reported cases is 271515.0, and the number of reported deaths is 35497.0

In [57]:
death_rate = df['new_deaths'].sum() / df['new_cases'].sum()

In [65]:
print(f"The overall reported death rate in Italy is {death_rate:.2f}%")

The overall reported death rate in Italy is 0.13%

In [59]:
initial_tests = 935310
total_tests = initial_tests + covid_df['new_tests'].sum()
total_tests

5214766.0

In [60]:
positive_rate = total_cases / total_tests
positive_rate

0.05206657403227681

In [63]:
print(f"{(positive_rate*100):.2f}% of tests in Italy led to a positive diagnosis.")

5.21% of tests in Italy led to a positive diagnosis.

In [71]:
high_cases = covid_df['new_cases'] > 1000
high_cases

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [72]:
covid_df[high_cases] # another way of indexing

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [75]:
hratio = covid_df[covid_df['new_cases'] / covid_df['new_tests'] > positive_rate]
hratio

           date  new_cases  new_deaths  new_tests
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
120  2020-04-29     2091.0       382.0    38589.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
128  2020-05-07     1444.0       369.0    13665.0

In [76]:
covid_df['positive_rate'] = covid_df['new_cases'] / covid_df['new_tests']
covid_df['positive_rate']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
243    0.026970
244    0.032055
245    0.018311
246         NaN
247         NaN
Name: positive_rate, Length: 248, dtype: float64